<aside class="col-12 col-md-12 col-lg-2">
    <!-- <div class="sidebar box sticky-column" th:if="${not #strings.isEmpty(theme.config.menu.menu.menu_list)}" th:with="menu = ${theme.config.menu.menu.menu_list}">
        <ul class="nav">
            <li class="nav__item" th:each="nav_item : ${menu}">
                <a th:href="${nav_item.url}" target="_self">
                    <i th:classappend="${nav_item.icon}"></i>
                    <span th:text="${nav_item.name}"></span>
                </a>
            </li>
        </ul>
    </div> -->
    <div class="sidebar box sticky-column" th:if="${theme.config.menu.menu}"
        th:with="menu = ${menuFinder.getByName(theme.config.menu.menu)}">
        <ul class="nav" th:with="menuItems = ${menu.menuItems}">
            <li class="nav__item" th:each="menuItem : ${menuItems}">
                <a th:href="@{${menuItem.status.href}}">
                    <i th:class="${#annotations.get(menuItem, 'icon')}"></i>
                    <span th:text="${menuItem.status.displayName}"></span>
                </a>
            </li>
        </ul>
    </div>
</aside>