<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
    th:replace="~{modules/layout :: html(title = ${site.title}, hero = null, content = ~{::content}, head = null, footer = null, sidebar = ~{::sidebar}, contentClass = '')}">
<th:block th:fragment="content">
    <main class="main">
        <!-- Header Image -->
        <div class="header-image">
            <div class="js-parallax"
                th:style="'background-image: url(' + ${theme.config.index.header.header_image.images} + ');'"></div>
        </div>

        <div class="container gutter-top">
            <!-- Header -->
            <th:block th:replace="~{modules/header}" />

            <div class="row sticky-parent">
                <!-- Sidebar nav -->
                <th:block th:replace="~{modules/sidebar}" />
                <!-- Content -->
                <div class="col-12 col-md-12 col-lg-10">
                    <div class="box box-content">
                        <div class="pb-2">
                            <h1 class="title title--h1 first-title title__separate">档案分类</h1>
                        </div>

                        <!-- Filter -->
                        <div class="select">
                            <span class="placeholder">分类检索</span>
                            <ul class="filter">
                                <!-- <li class="filter__item">Category</li> -->
                                <li class="filter__item active" data-filter="*">
                                    <a class="filter__link active" href="#filter">All</a>
                                </li>
                                <li class="filter__item" data-filter="" th:each="category : ${categories}"
                                    th:attr="data-filter='.' + ${category.spec.displayName}">
                                    <a class="filter__link" href="#filter" th:text="${category.spec.displayName}"></a>
                                </li>

                                <!-- <li class="filter__item" data-filter=".category-design">
                                    <a class="filter__link" href="#filter">Design</a>
                                </li>
                                <li class="filter__item" data-filter=".category-life">
                                    <a class="filter__link" href="#filter">Life</a>
                                </li> -->
                            </ul>
                            <input type="hidden" name="changemetoo" />
                        </div>

                        <!-- Gallery -->
                        <div class="gallery-grid js-grid-row js-filter-container"
                            th:with="posts = ${postFinder.list(1,9)}">
                            <div class="gutter-sizer"></div>
                            <!-- Item 1 -->
                            <figure class="gallery-grid__item" th:each="post : ${posts.items}">
                                <div class="gallery-grid__image-wrap">
                                    <a th:href="@{${post.status.permalink}}">
                                        <img class="gallery-grid__image cover lazyload"
                                            th:src="${post.spec.cover ?: #theme.assets('/images/halo.jpg')}" alt="" />
                                    </a>
                                </div>
                                <figcaption class=" gallery-grid__caption">
                                    <h4 class="title title--h6 gallery-grid__title" th:text="${post.spec.title}"></h4>
                                    <span class="gallery-grid__category" th:each="categories : ${post.categories}"
                                        th:text="|${categories.spec.displayName}|"></span>
                                </figcaption>
                            </figure>

                        </div><!-- Gallery End -->
                    </div>
                    <!-- Footer -->
                    <th:block th:replace="~{modules/footer}" />
                </div>
            </div>
    </main>

    <div class="back-to-top"></div>

    <!-- SVG masks -->
    <svg class="svg-defs">
        <clipPath id="avatar-box">
            <path
                d="M1.85379 38.4859C2.9221 18.6653 18.6653 2.92275 38.4858 1.85453 56.0986.905299 77.2792 0 94 0c16.721 0 37.901.905299 55.514 1.85453 19.821 1.06822 35.564 16.81077 36.632 36.63137C187.095 56.0922 188 77.267 188 94c0 16.733-.905 37.908-1.854 55.514-1.068 19.821-16.811 35.563-36.632 36.631C131.901 187.095 110.721 188 94 188c-16.7208 0-37.9014-.905-55.5142-1.855-19.8205-1.068-35.5637-16.81-36.63201-36.631C.904831 131.908 0 110.733 0 94c0-16.733.904831-37.9078 1.85379-55.5141z" />
        </clipPath>
        <clipPath id="avatar-hexagon">
            <path
                d="M0 27.2891c0-4.6662 2.4889-8.976 6.52491-11.2986L31.308 1.72845c3.98-2.290382 8.8697-2.305446 12.8637-.03963l25.234 14.31558C73.4807 18.3162 76 22.6478 76 27.3426V56.684c0 4.6805-2.5041 9.0013-6.5597 11.3186L44.4317 82.2915c-3.9869 2.278-8.8765 2.278-12.8634 0L6.55974 68.0026C2.50414 65.6853 0 61.3645 0 56.684V27.2891z" />
        </clipPath>
    </svg>

    </main>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // 获取所有figure元素
            var figures = document.querySelectorAll('.gallery-grid__item');

            figures.forEach(function (figure) {
                // 获取当前figure中的所有category
                var categories = figure.querySelectorAll('.gallery-grid__category');
                categories.forEach(function (category) {
                    // 获取category的text内容
                    var categoryName = category.textContent.trim();
                    // 为figure元素添加class
                    figure.classList.add(categoryName);
                });
            });
        });
    </script>
</th:block>

</html>