<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
    th:replace="~{modules/layout :: html(title = ${site.title}, hero = null, content = ~{::content}, head = null, footer = null, sidebar = ~{::sidebar}, contentClass = '')}">
<th:block th:fragment="content">
    <main class="main">
        <!-- Header Image -->
        <div class="header-image">
            <div class="js-parallax"
                th:style="'background-image: url(' + ${theme.config.index.header.header_image.images} + ');'"></div>
        </div>
        <div class="container gutter-top">
            <!-- Header -->
            <th:block th:replace="~{modules/header}" />
            <div class="row sticky-parent">
                <!-- Sidebar nav -->
                <th:block th:replace="~{modules/sidebar}" />
                <div class="col-12 col-md-12 col-lg-10">
                    <div class="box box-content" th:with="contact = ${theme.config.contact.contact_info}">
                        <div class="pb-2">
                            <h1 class="title title--h1 first-title title__separate">Contact</h1>
                        </div>
                        <!-- Contact -->
                        <h2 class="title title--h3" th:text="${contact.title ?: 'Contact Form'}">联系我</h2>

                        <form id="contact-form" class="contact-form" data-toggle="validator">
                            <div class="row">
                                <div class="form-group col-12 col-md-6">
                                    <input type="text" class="form-control" id="nameContact" th:name="${contact.name}"
                                        placeholder="Full name / 称呼" required="required" autocomplete="on"
                                        oninvalid="setCustomValidity('Fill in the field')"
                                        onkeyup="setCustomValidity('')">
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group col-12 col-md-6">
                                    <input type="email" class="form-control" id="emailContact"
                                        th:name="${contact.email}" placeholder="Email address/邮箱" required="required"
                                        autocomplete="on" oninvalid="setCustomValidity('Email is incorrect')"
                                        onkeyup="setCustomValidity('')">
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group col-12 col-md-12">
                                    <textarea class="textarea form-control" id="messageContact"
                                        th:name="${contact.message}" placeholder="Your Message/信息" rows="4"
                                        required="required" oninvalid="setCustomValidity('Fill in the field')"
                                        onkeyup="setCustomValidity('')"></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6 order-2 order-md-1 text-center text-md-left">
                                    <div id="validator-contact" class="hidden"></div>
                                </div>
                                <div class="col-12 col-md-6 order-1 order-md-2 text-right">
                                    <button type="submit" class="btn">
                                        <i class="font-icon icon-send" th:attr="data-value=${contact.send}"></i>
                                        Send/发送
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- Footer -->
                    <th:block th:replace=" ~{modules/footer}" />
                </div>
            </div>
        </div>
    </main>
    <script th:inline="javascript">
        var form_id = [[${ theme.config.contact.contact_info.id }]];
        var form_name = [[${ theme.config.contact.contact_info.name }]];
        var form_email = [[${ theme.config.contact.contact_info.email }]];
        var form_message = [[${ theme.config.contact.contact_info.message }]];
        var form_url = [[|${site.url}apis/api.form.halo.run/v1alpha1/plugins/PluginContactForm/entries|]];
    </script>
</th:block>