<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
    th:replace="~{modules/layout :: html(title = ${site.title}, head = null,content = ~{::content})}">

<th:block th:fragment="content">
    <main class="main">
        <!-- Header Image -->
        <div class="header-image">
            <div class="js-parallax"
                th:style="'background-image: url(' + ${theme.config.index.header.header_image.images} + ');'"></div>
        </div>

        <div class="container gutter-top">
            <!-- Header -->
            <th:block th:replace="~{modules/header}" />

            <div class="row sticky-parent">
                <!-- Sidebar nav -->
                <th:block th:replace="~{modules/sidebar}" />

                <!-- Content -->
                <div class="col-12 col-md-12 col-lg-10">
                    <div class="box box-content">
                        <!-- About -->
                        <div class="pb-0 pb-sm-2" th:if="${theme.config.about.about_me.switch}">
                            <h1 class="title title--h1 first-title title__separate"
                                th:text="${theme.config.about.about_me.title ?: 'About Me'}"></h1>
                            <th:block th:with="content = ${theme.config.about.about_me.content}">
                                <th:block th:each="content_list : ${content}">
                                    <p th:utext="${content_list.text}"></p>
                                </th:block>
                            </th:block>
                        </div>

                        <!-- I CAN DO -->
                        <div class="mt-1" th:if="${theme.config.about.about_what.switch}">
                            <h2 class="title title--h3" th:text="${theme.config.about.about_what.title ?: 'I CAN DO'}">
                            </h2>
                            <div class="row">
                                <th:block th:with="project = ${theme.config.about.about_what.content}">
                                    <!-- Case Item -->
                                    <th:block th:each="project_list : ${project}">
                                        <div class="col-12 col-lg-6">
                                            <div class="case-item">
                                                <img class="case-item__icon" th:src="${project_list.images}"
                                                    th:if="not ${#strings.isEmpty(project_list.images)}" alt="" />
                                                <div>
                                                    <h3 class="title title--h4" th:text="${project_list.title}"></h3>
                                                    <p class="case-item__caption" th:utext="${project_list.text}"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </th:block>
                                </th:block>
                            </div>
                        </div>

                        <!-- Testimonials -->
                        <div class="mt-2" th:if="${theme.config.about.about_evaluate.switch}">
                            <h2 class="title title--h3"
                                th:text="${theme.config.about.about_evaluate.title ?: 'Testimonials'}"></h2>
                            <div class="swiper-container js-carousel-review">
                                <div class="swiper-wrapper">
                                    <!-- Item review -->
                                    <th:block th:with="evaluate = ${theme.config.about.about_evaluate.content}">
                                        <th:block th:each="evaluate_list : ${evaluate}">
                                            <div class="swiper-slide review-item">
                                                <svg class="avatar avatar--80" viewBox="0 0 84 84">
                                                    <g class="avatar__hexagon">
                                                        <image th:href="${evaluate_list.images}" height="100%"
                                                            width="100%" />
                                                    </g>
                                                </svg>
                                                <div class="review-item__textbox">
                                                    <h4 class="title title--h5" th:text="${evaluate_list.title}"></h4>
                                                    <p class="review-item__caption" th:utext="${evaluate_list.text}">
                                                    </p>
                                                </div>
                                            </div>
                                        </th:block>
                                    </th:block>
                                </div>

                                <div class="swiper-pagination"></div>
                            </div>
                        </div>

                        <!-- Clients -->
                        <div class="mt-4" th:if="${theme.config.about.about_clients.switch}">
                            <h2 class="title title--h3"
                                th:text="${theme.config.about.about_clients.title ?: 'Clients'}"></h2>

                            <div class="swiper-container js-carousel-clients">
                                <div class="swiper-wrapper">
                                    <!-- Item client -->
                                    <th:block th:with="clients = ${theme.config.about.about_clients.content}">
                                        <th:block th:each="clients_list : ${clients}">
                                            <div class="swiper-slide">
                                                <a th:href="${clients_list.url}">
                                                    <img th:src="${clients_list.images}" alt="Logo"
                                                        class="client-logo" />
                                                </a>
                                            </div>
                                        </th:block>
                                    </th:block>
                                </div>

                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                    </div>


                    <th:block th:replace="~{modules/footer}" />
                </div>
            </div>

        </div>

    </main>
    <!-- SVG masks -->
    <svg class="svg-defs">
        <clipPath id="avatar-box">
            <path
                d="M1.85379 38.4859C2.9221 18.6653 18.6653 2.92275 38.4858 1.85453 56.0986.905299 77.2792 0 94 0c16.721 0 37.901.905299 55.514 1.85453 19.821 1.06822 35.564 16.81077 36.632 36.63137C187.095 56.0922 188 77.267 188 94c0 16.733-.905 37.908-1.854 55.514-1.068 19.821-16.811 35.563-36.632 36.631C131.901 187.095 110.721 188 94 188c-16.7208 0-37.9014-.905-55.5142-1.855-19.8205-1.068-35.5637-16.81-36.63201-36.631C.904831 131.908 0 110.733 0 94c0-16.733.904831-37.9078 1.85379-55.5141z" />
        </clipPath>
        <clipPath id="avatar-hexagon">
            <path
                d="M0 27.2891c0-4.6662 2.4889-8.976 6.52491-11.2986L31.308 1.72845c3.98-2.290382 8.8697-2.305446 12.8637-.03963l25.234 14.31558C73.4807 18.3162 76 22.6478 76 27.3426V56.684c0 4.6805-2.5041 9.0013-6.5597 11.3186L44.4317 82.2915c-3.9869 2.278-8.8765 2.278-12.8634 0L6.55974 68.0026C2.50414 65.6853 0 61.3645 0 56.684V27.2891z" />
        </clipPath>
    </svg>

    <div class="back-to-top"></div>

    <!-- <script>
        document.addEventListener('DOMContentLoaded', function () {
            var firstNavItem = document.querySelector('.nav .nav__item a');
            if (firstNavItem) {
                firstNavItem.classList.add('active');
            }
        });
    </script> -->
</th:block>

</html>