<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
    th:replace="~{modules/layout :: html(title = ${site.title}, hero = null, content = ~{::content}, head = null, footer = null, sidebar = ~{::sidebar}, contentClass = '')}">
<th:block th:fragment="content">
    <!-- Scroll Indicator -->
    <div class="scroll-line"></div>
    <main class="main">
        <!-- Header Image -->
        <div class="header-image">
            <div class="js-parallax"
                th:style="'background-image: url(' + ${theme.config.index.header.header_image.images} + ');'"></div>
        </div>
        <div class="container gutter-top">
            <!-- Header -->
            <th:block th:replace="~{modules/header}" />

            <div class="row sticky-parent">
                <!-- Sidebar nav -->
                <th:block th:replace="~{modules/sidebar}" />

                <!-- Content -->
                <div class="col-12 col-md-12 col-lg-10">
                    <div class="box box-content">
                        <!-- Post -->
                        <div class="pb-3">
                            <header class="header-post">
                                <h1 class="title title--h1" th:text="${post.spec.title}"></h1>
                                <!-- <div class="caption-post">
                                    <p th:text="${post.status.excerpt}"></p>
                                </div> -->
                                <div class="post-user">
                                    <div class="user-left ">
                                        <img th:if="${not #strings.isEmpty(post.owner.avatar)}"
                                            th:src="${post.owner.avatar}">

                                        <div th:text="${post.owner.displayName}" class="user-name"></div>

                                        <span id="publishTime" th:attr="data-value=${post.spec.publishTime}"
                                            th:text="${#dates.format(post.spec.publishTime,'yyyy年MM月dd日')}"></span>

                                        <div class="user-info">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem"
                                                viewBox="0 0 24 24">
                                                <g fill="none" stroke="#b85717" stroke-width="2">
                                                    <path stroke-linecap="round"
                                                        d="M19 11V8.2c0-1.12 0-1.68-.218-2.108a2 2 0 0 0-.874-.874C17.48 5 16.92 5 15.8 5H7.2c-1.12 0-1.68 0-2.108.218a2 2 0 0 0-.874.874C4 6.52 4 7.08 4 8.2v5.6c0 1.12 0 1.68.218 2.108a2 2 0 0 0 .874.874C5.52 17 6.08 17 7.2 17H14m-6-4h4M8 9h7" />
                                                    <circle cx="18" cy="15" r="1" />
                                                    <path stroke-linecap="round" d="M20 20s-.5-1-2-1s-2 1-2 1" />
                                                </g>
                                            </svg>
                                            <span th:text="|${post.stats?.visit ?:0}次浏览|" id="visit-counter"></span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem"
                                                viewBox="0 0 24 24">
                                                <g fill="none" stroke="#e33b3b" stroke-width="2">
                                                    <path
                                                        d="M4 12a8 8 0 1 1 16 0v5.09c0 .848 0 1.27-.126 1.609a2 2 0 0 1-1.175 1.175C18.36 20 17.937 20 17.09 20H12a8 8 0 0 1-8-8z" />
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                        d="M9 11h6m-3 4h3" />
                                                </g>
                                            </svg>
                                            <span th:text="|${post.stats?.comment ?:0}次评论|"></span>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        </header>
                        <div th:utext="${post.content.content}" class="post-content"> </div>

                        <footer class="footer-post">
                            <a class="footer-post__share" href="http://facebook.com"><i
                                    class="font-icon icon-facebook"></i><span>Facebook</span></a>
                            <a class="footer-post__share" href="http://twitter.com"><i
                                    class="font-icon icon-twitter"></i><span>Twitter</span></a>
                            <a class="footer-post__share" href="http://linkedin.com"><i
                                    class="font-icon icon-linkedin"></i><span>Linkedin</span></a>
                        </footer>


                        <div class="box-inner box-inner--rounded">
                            <h2 class="title title--h3" style="display: flex; align-items: center;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="3rem" viewBox="0 0 24 24">
                                    <g fill="none" stroke="#e33b3b" stroke-width="2">
                                        <path
                                            d="M4 12a8 8 0 1 1 16 0v5.09c0 .848 0 1.27-.126 1.609a2 2 0 0 1-1.175 1.175C18.36 20 17.937 20 17.09 20H12a8 8 0 0 1-8-8z" />
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 11h6m-3 4h3" />
                                    </g>
                                </svg>评论
                            </h2>

                            <!-- Comment -->
                            <div class="comment-box">
                                <halo:comment group="content.halo.run" kind="Post"
                                    th:attr="name=${post.metadata.name}" />
                            </div>
                        </div>

                    </div>
                    <!-- Footer -->
                    <th:block th:replace=" ~{modules/footer}" />
                </div>


            </div>
        </div>

    </main>

    <div class="back-to-top"></div>

    <!-- SVG masks -->
    <svg class="svg-defs">
        <clipPath id="avatar-box">
            <path
                d="M1.85379 38.4859C2.9221 18.6653 18.6653 2.92275 38.4858 1.85453 56.0986.905299 77.2792 0 94 0c16.721 0 37.901.905299 55.514 1.85453 19.821 1.06822 35.564 16.81077 36.632 36.63137C187.095 56.0922 188 77.267 188 94c0 16.733-.905 37.908-1.854 55.514-1.068 19.821-16.811 35.563-36.632 36.631C131.901 187.095 110.721 188 94 188c-16.7208 0-37.9014-.905-55.5142-1.855-19.8205-1.068-35.5637-16.81-36.63201-36.631C.904831 131.908 0 110.733 0 94c0-16.733.904831-37.9078 1.85379-55.5141z" />
        </clipPath>
        <clipPath id="avatar-hexagon">
            <path
                d="M0 27.2891c0-4.6662 2.4889-8.976 6.52491-11.2986L31.308 1.72845c3.98-2.290382 8.8697-2.305446 12.8637-.03963l25.234 14.31558C73.4807 18.3162 76 22.6478 76 27.3426V56.684c0 4.6805-2.5041 9.0013-6.5597 11.3186L44.4317 82.2915c-3.9869 2.278-8.8765 2.278-12.8634 0L6.55974 68.0026C2.50414 65.6853 0 61.3645 0 56.684V27.2891z" />
        </clipPath>
    </svg>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // 获取所有菜单项的 <a> 元素
            var menuItems = document.querySelectorAll('.nav__item a');

            // 遍历所有菜单项
            menuItems.forEach(function (menuItem) {
                // 获取每个菜单项的 href 属性值
                var menuItemUrl = menuItem.getAttribute('href');

                // 如果菜单项的 href 包含 '/blog'，则添加 'active' 类
                if (menuItemUrl.includes('/blog')) {
                    menuItem.classList.add('active');
                }
            });
        });
        document.addEventListener('DOMContentLoaded', function () {
            // 获取所有的 h1 到 h6 元素
            for (var i = 1; i <= 6; i++) {
                var headingElements = document.querySelectorAll('h' + i);

                // 遍历所有 heading 元素并添加类
                headingElements.forEach(function (heading) {
                    heading.classList.add('title', 'title--h' + i);
                });
            }
        });
    </script>
</th:block>

</html>